<th:block th:replace="frags :: head('Homepage')">
</th:block>
<body>
    <header th:replace="frags :: header">
    </header>
    <main>
        <div class="container-fluid d-flex justify-content-center">
            <div>
                <h3>Best of the year by [[${myName}]]</h3>
                <ul class="list-unstyled m-0 d-flex flex-column align-items-center gap-3">
                    <li th:replace="frags :: buttonp('Movies', 'movies')"></li>
                    <li th:replace="frags :: buttonp('Songs', 'songs')"></li>
                </ul>
            </div>
        </div>

    </main>

</body>
</html>