<th:block th:replace="frags :: head('Best song of the Year')">
</th:block>
<body>
    <header th:replace="frags :: header">
    </header>
    <main>
        <div class="container-fluid d-flex justify-content-center">
            <div>
                <h3 class="text-center">Best songs</h3>
                <ul class="list-unstyled m-0 d-flex flex-column align-items-center gap-3">
                    <th:block th:each="song : ${bestSongs}">
                        <li th:replace="frags :: buttonr(${song.title}, 'songs/' + ${song.id})"></li>
                    </th:block>
                    
                </ul>
            </div>
        </div>
    </main>
</body>
</html>